<main class="center" id="main">

  <div class="page-area">

      <pb-article>
          <h1>
            Stay on trackzzz
          </h1>
          <div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem molestiae fuga similique doloremque ut. Iure provident obcaecati, vitae veritatis quam fuga corporis repellat atque. Nemo nam non voluptatem ducimus asperiores.
          </div>
      </pb-article>

      <pb-article>
          <h1>Alerts</h1>
          <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Commodi dolores, distinctio facilis necessitatibus sequi cupiditate explicabo est assumenda rem ex! Nemo quos sit dolores excepturi odio blanditiis et magni doloribus?</div>
      </pb-article>

      <pb-article>
          <h1>Results</h1>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quidem non hic error magni cum culpa, molestiae in impedit provident animi aut excepturi ratione consequatur corrupti dignissimos quis quia ad!</div>
      </pb-article>

      <pb-article>
          <h1>About</h1>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem molestiae fuga similique doloremque ut. Iure provident obcaecati, vitae veritatis quam fuga corporis repellat atque. Nemo nam non voluptatem ducimus asperiores.</div>
      </pb-article>
  </div>

  <article>
      <h1>Chart</h1>
      <p>
          <canvas id="myChart" width="400" height="400"></canvas>
      </p>

  </article>
</main>
